* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
  row-gap: 3%;
}

/* mobile version */
@media screen and (max-width: 768px) {
  body {
    background-image: url(Img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;

  }

  .main-nav {
    display: none;
  }
  .navigation {
    display: none;
  }
  #ham {
    font-size: 35px;
    margin-left: 3%;
  }
  .main-section {
    height: 90vh;
  }
  .middle {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: orangered;
  
  }
  .top {
    font-family: 'Lato', sans-serif;
    color: orangered;
  }
  .main-text {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 4%;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
  .lower {
    background-color: rgb(226, 226, 226);
    border: solid white;

    font-size: 16px;
    margin-top: 3%;
  }
  .date {
    padding: 5%;
    font-weight: bolder;
  }
  .date > h4 {
    font-weight: bolder;
  }
  .section-container {
    padding: 2em 1em;
  }
  .title-box {
    justify-content: center;
  }
  .section-title {
    font-size: 1.5rem;
    color: white;
  }
  .hero-section {
    height: 56vh;
  }

  .card-box {
    grid-template-columns: repeat(2, 50%);
    gap: 0.5em;
  }
  .card-box p {
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    color: white;
  }

  .card-box h3 {
    font-size: 120%; 
    color: rgb(255, 104, 50);
    padding-top: 30px;
    padding-left: 5%;
  }
  .program-box img {
    padding-top: 10%;
    max-width: 70%;
    max-height: 70%;
  }
  .card-box {
    background-color: rgba(121, 121, 121, 0.3);
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .program-section {
    position: relative;
    background: url(Img/mainbg.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
   
  }
  .join {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }

  .btn {
    background-color: rgb(255, 80, 16);
    padding: 16px;
    text-decoration: none;
    color: white;
  }
  .date h2 {
    margin-top: 1px;
  }
  .contact {
    margin-left: 18%;
    margin-top: 5%;
  }
  .about {
    height: 100vh;
  }
  .about-second {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 15%;
    padding-top: 10%;

}
  .about-child {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
  }
  #about-logo {
    width: 80%;
    border: solid black;
    border-width: 1px;
    margin-left: 5%;
  
  }
}
/* Desktop version */
@media screen and (min-width: 769px) {
  body {
  }
}
