@media screen and (min-width: 375px) {
    #ham {
     font-size: 35px;
     margin-left: 20px;
    }
    .main-section {
        position: relative;
        background-image: url(Img/background.jpg);
        background-repeat: no-repeat;
        background-size: 100%;  
        background-size: cover;
        height: 60vh;
        margin-left: -10px; 
        margin-right: -20px;
    

    }
    .middle {
        color: orangered;
        width: 50%;
    }
    .top {
        color: orangered;
    }
    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
       
    }
    .lower {
        width: 50%;
        background-color: rgb(255, 246, 246);
        font-size: 20px;
      
    }
    .program-section {
        display: flex;
        flex-direction: column;
    }

}